# DB
POSTGRES_DB=neondb
POSTGRES_DB_PORT=5432
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_LJMblXEk1Q0K
POSTGRES_HOST=ep-proud-sound-alcxih02.c-3.eu-central-1.aws.neon.tech
# Django
SECRET_KEY=Vmkv5Jpr9qVni3JQyAYf
DJANGO_SETTINGS_MODULE=task_manager.settings
